
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
:root {
    --base-color: #ffffff;
    --text-color: #000000;
    --primary-color: #2196f3;
    --secondary-color: #8D8DFF;
    --color-1: #8D8DFF;
    --color-2: #F9F6F3;
    --color-3: #F6F3F9;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: Montserrat, Oswald, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var (--text-color);

}
body {
    padding: 1em;
    background-color: var(--base-color);        
}
h1,h2,h3 {
    font-family: Oswald, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    margin: 1em auto 3em auto;
    width: main(1000px, 100%);
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}
nav li first-child{
    margin-right: auto;
    font-family: Oswald, sans-serif;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}
nav a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
header, section {
    margin: 2em auto;
    width: main(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}
header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}  
.text-container {
    flex: 0 1 34em;
}
h1{
    font-size: 2.5rem;

}
.text-container p {
    margin: .75em 0 1em 0;
    font-size: 1.2rem;
}
.cta-button {
    display: inline-block;
    padding: .75em 1.5em;
    background-color: var(--primary-color);
    color: var(--base-color);
    text-decoration: none;
    border-radius: .5em;
    font-weight: bold;
}
@media(max-width: 988px) {
    .flex-container {
        flex-direction: column;
    }
    header img {
        max-width: 80%;
    }
}